body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(43,43,43);
    position: absolute;
}

.clock {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: dotted 5px rgb(252,255,55);

}

#seconds-hand {
    position: absolute;
    height: 130px;
    width: 2px;
    background-color:rgb(70,255,255);
    left: 150px;
    bottom: 450px;
    opacity: 50%;
    transform-origin: 0 100%;
}

#minutes-hand {
    height: 100px;
    width: 3px;
    background-color: rgb(253,120,227);
    position: absolute;
    left: 149px;
    bottom: 450px;
    transform-origin: 0 100%;
}
#hours-hand {
    height: 80px;
    width: 8px;
    background-color: rgb(205,112,255);
    position: absolute;
    left: 149px;
    bottom: 450px;
    transform-origin: 0 100%;
}

#center {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: rgb(252,255,55);
    position: absolute;
    right: 159px;
    bottom: 445px;
}